<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goddoro.udc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name=".application.MainApplication"
        android:extractNativeLibs="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".views.intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.onboarding.OnBoardingActivity" />
        <activity android:name=".views.classShop.create.MakeClassActivity" />
        <activity android:name=".views.admin.AdminActivity" />
        <activity android:name=".views.upload.map.SearchAddressActivity" />
        <activity android:name=".views.search.detail.SearchDetailActivity" />
        <activity android:name=".views.search.SearchActivity" />
        <activity android:name=".views.upload.UploadEventActivity"/>
        <activity
            android:name=".views.classShop.detail.ClassDetailActivity"
            android:configChanges="locale|layoutDirection|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".views.notification.NotificationListActivity"
            android:configChanges="locale|layoutDirection|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".views.tag.TagDetailActivity"
            android:configChanges="locale|layoutDirection|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".views.setting.SettingActivity"
            android:configChanges="locale|layoutDirection|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".views.event.detail.EventDetailActivity"
            android:configChanges="locale|layoutDirection|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".views.auth.AuthActivity"
            android:configChanges="locale|layoutDirection|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity"
            android:configChanges="locale|layoutDirection|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" >

        </activity>

        <meta-data
            android:name="com.naver.maps.map.86uizs8uuf"
            android:value="86uizs8uuf" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_camera" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/fcm_channel_id" />

        <service
            android:name=".fcm.FirebaseMsgService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>